body {
  margin: 10px;
}
.tweet {
  border: 3px solid violet;
}

.tweet::after {
  content: "";
  display: block;
  clear: both;
}
.avtar {
  float: left;
  width: 5rem;
  height: 5rem;
  background-color: gold;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
