body {
  margin: 10px;
}
.box {
  width: 100px;
  height: 100px;
  background-color: gold;
  display: inline-block;
  box-sizing: border-box;
}
.box::before {
  content: "Hello";
}
* {
  box-sizing: border-box;
}
