body {
  margin: 10px;
}
.box {
  width: 200px;
  height: 200px;
  background: yellow;
}
#b1 {
  float: right;
}
/* a {
  pointer-events: none; 
} */
#p1 {
  height: 200px;
  width: 500px;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}
.column {
  float: left;
  width: 20%;
}
